* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.signup {
    width: 1000px;
    min-height: 600px;
    overflow: hidden;
    border-radius: 5px;
    background: #222;
    display: flex;
    box-shadow: 15px 5px 30px rgba(0, 0, 0, 0.3);
}

.content {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: #00b894; */
}

.content img {
    width: 100%;
    height: 100%;
}

.information {
    flex-basis: 50%;
    background: #333;
    padding: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.information h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 2.5em;
    color: #fff;
}

.input-box {
    border-radius: 3px;
    background: transparent;
    outline: none;
    border: 1px solid #55efc4;
    width: 100%;
    height: 35px;
    margin: 30px 0;
}

.input-box input {
    background: transparent;
    width: 90%;
    outline: none;
    border: 0;
    padding-left: 5px;
}

::placeholder {
    color: #777;
}

.input-box i {
    color: #55efc4;
    font-size: 15px;
    padding: 7px;
}

.tacbox {
    color: #777;
}

.tacbox a {
    color: #fff;
    background: transparent;
}

.btn {
    font-size: 18px;
    padding: 12px;
    border-radius: 3px;
    width: 100%;
    border: 0;
    background: #00b894;
    color: #fff;
    margin-top: 30px;
}

@media(max-width: 768px) {
    .signup {
        flex-direction: column;
        margin: 0 15px;
    }
}